{
    "env": {
        "test": {
            "presets": ["env"]
        },
        "build": {
            "plugins": ["external-helpers"],
            "presets": [
                ["env", {
                    "modules": false
                }]
            ]
        }
    }
}